<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="toppings">
            <h2><span>Toppings</span> {{toppings.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{toppings.name}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{toppings.description}}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{toppings.price}}</span>
                </dd>
                <dt><span>Pizza</span></dt>
                <dd>
                    <div *ngIf="toppings.pizza">
                        <a [routerLink]="['/pizza', toppings.pizza?.id, 'view']">{{toppings.pizza?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/toppings', toppings.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
